<html>
  <head>
    <!-- Head content here -->
  </head>
  <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 style="text-align: center; color: #1E90FF;">Досвідчений і безпечний водій - це не тільки мрія, але і наша місія</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  </body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Контактна інформація</h5>
        <p>Адреса: вул. Капушанська, 158, м. Ужгород</p>
        <p>Телефон: +380 50 222 22 22</p>
        <p>Email: info@avtoschool.com</p>
      </div>
      <div class="col-md-4">
        <h5>Ми в соціальних мережах</h5>
        <ul>
          <li><a href="#">Instagram: @auto_school</a></li>
          <li><a href="#">Facebook: Avto School</a></li>
          <li><a href="#">Telegram bot: @auto_school</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Підписатися на розсилку</h5>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Введіть свій email">
          </div>
          <button type="submit" class="btn btn-primary">Підписатися</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2023 AutoSchool, Inc. Всі права захищені.</p>
      </div>
    </div>
  </div>
</footer>
</html>
