<%#<%= link_to "Розпочати тест", edit_pdr_path(6), class:"btn btn-outline-primary"%>
<div class="card text-center mb-3" style="width: 18rem; text-align: center;">
  <div class="card-body">
    <h5 class="card-title">Білет №1</h5>
    <p class="card-text">Пройдіть тестування та отримайте оцінку та коментарі від наших інструкторів</p>
      <a href="#" class="card-link"><%= link_to "Почати", edit_pdr_path(1)%></a>
  </div>
</div>
<div class="card text-center mb-3" style=" text-align: center; width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Білет №2</h5>
    <p class="card-text">Пройдіть тестування та отримайте оцінку та коментарі від наших інструкторів</p>
      <a href="#" class="card-link"><%= link_to "Почати", edit_pdr_path(2)%></a>
  </div>
</div>
<div class="card text-center mb-3" style="width: 18rem; text-align: center;">
  <div class="card-body">
    <h5 class="card-title">Білет №3</h5>
    <p class="card-text">Пройдіть тестування та отримайте оцінку та коментарі від наших інструкторів.</p>
      <a href="#" class="card-link"><%= link_to "Почати", edit_pdr_path(4)%></a>
  </div>
</div>

